<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <h1>About Me</h1>
    <p>Hello, my name is {Phetheho Matokazi}. I am a 29 years old who prides herself in being organized and motivated individual.
        I enjoy learning new things and challenging myself to develop more skills, and because of that I have obtains a
        couple of certificates for myself. I aspire to accomplish a lot more in the Tech industry and be part of the many
        who will improve our future technology</p>
</body>
</html>