<!DOCTYPE html>
<html>
<head>
    <title>My Online CV</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div>
<h1 id="heading">My Personal webpage</h1>
<img src="ProfilePicture.jpg" alt="My Profile Picture" width="100" height="150" align="">
    <h2>Hello, I'm Phetheho Matokazi</h2>
    <p>My name is Phetheho Matokazi. I am a 29 years old who prides herself in being organized and motivated individual.
    I enjoy learning new things and challenging myself to develop more skills, and because of that I have obtains a
    couple of certificates for myself. I aspire to accomplish a lot more in the Tech industry and be part of the many
    who will improve our future technology.  </p>
</div>
<div id="contact details"></div>
<h3>Contact Information:</h3>
<ul>
    <li>Name: Phetheho Matokazi</li>
    <li>Contact Number: 071 875 6380</li>
    <li>Email Address: <a href="mailto:monahengphetheho4@gmaiil.com">monahengphetheho4@gmail.com</a></li>
    <li>LinkedIn: <a href="#">(https://www.linkedin.com/in/phetheho-matokazi-6971a6299?utm_source=share&utm_
        campaign=share_via&utm_content=profile&utm_medium=ios_app)</a></li>
</ul>
<h3>Skills and Competencies:</h3>
<ul>
    <li>Interpersonal skills</li>
    <li>Critical thinking skills</li>
    <li>Responsiveness</li>
    <li>Communication</li>
    <li>Overall Computer Knowledge</li>
    <li>Ability to work under pressure</li>
    <li>Confidence</li>
</ul>
<h3>Education:</h3>
<ul>
    <li>Grade 12, Khanyisa High School</li>
    <li>General Transcription Certificate, TypeWhizz</li>
    <li>TEFL Certificate, Teacher Record</li>
</ul>
<h3>Work Experience:</h3>
<ul>
    <li>life Science and Mathematics Tutor(2 years)</li>
</ul>
<div id="search"></div>
<h3>Search Form (CET):</h3>
<form>
    <input type="text" placeholder="Enter keywords or terms related to my CV content">
    <input type="submit" value="Search">
</form>
<div id="contact"></div>
<h3>Contact Form (POST):</h3>
<form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br><br>
    <label for="message">Message:</label>
    <textarea id="message" name="message"></textarea><br><br>
    <input type="submit" value="Send">
</form>
</body>
</html>
